/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Navbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* .Nav{
    background-color: rgb(255, 255, 255);
    color: black;
} */
.nav-container{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 5px 0 5px 0;
}
.nav-container nav{
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    margin: 0 17.5% 0 17.5%;
    padding: 0.5% 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    
}
.nav-container nav a {
    color: #7a7979;
    text-decoration: none;
    margin-left: 12px;
    padding: 10px;
}
.nav-container nav a:hover {
    color: #000000;
}
.nav-container nav a h1{
    padding: 0;
    margin: 0;
}
.nav-container nav .Logo{
    margin-right: auto;
    padding-left: 10px;
}
.nav-container nav .Logo .pic-logo{
    margin:5px 0px 0px 10px;
}
.nav-container nav .Menu-link{
    display: flex;
    align-items: center;
}
.nav-container nav .Menu-link .dropdown{
    position: relative;
    display: inline-block;
}
.nav-container nav .Menu-link .dropdown:hover .dropdown-content {
    display: block;
}
.nav-container nav .Menu-link .dropdown .dropbtn {
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: #000000;
    padding: 12px;
    width: 140px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.nav-container nav .Menu-link .dropdown .dropbtn:hover {
    color: #000000;
}
.nav-container nav .Menu-link .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 0.5px solid rgb(177, 177, 177);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.nav-container nav .Menu-link .dropdown .dropdown-content a {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.nav-container nav .Menu-link .dropdown .dropdown-content a:hover{
    background-color: #B88E2F;
    color: #ffffff;
    
}
.nav-container nav .Menu-link .dropdown .dropdown-content .log-out{
    border-top:0.5px solid rgb(177, 177, 177) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Header-container{
    background-color: #B88E2F;
}
.Header-container .Header-contact{
    margin: 0 17.5% 0 17.5%;
    display: flex;
    align-items: center;
    height: 32px;
    
}
.Header-container .Header-contact p{
    font-size: 13px;
    margin-left:50px;
    color: #ffffff;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/cardHistoryuser.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.card {
  font-family: 'Prompt', sans-serif;
  width:80%;
  min-width:350px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-bottom: 20px;
}
.card:hover {
  transform: scale(1.05);
}

.card.expanded {
  height: auto; /* สามารถปรับสูงสุดเท่าที่คุณต้องการ */
}
.card-header {
  width: 100%;
  background-color: #e9b640;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-header .thb{
  /* สไตล์ส่วนหัวของการ์ด */
  height: 60px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-header .thb button {
    font-family: 'Prompt', sans-serif;
    background-color: #3d3d3d;
    width: 100px;
    padding: 8px 0 8px 0;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
}
.card-header .thb button:hover{
  background-color: #242424;
}

.card-content {
  /* สไตล์เนื้อหาหลักของการ์ด */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.card-content .box-con{
  margin-top: 10px;
  width: 95%;
  color: #2e2e2e;
}
.card-content .additional-info {
  /* สไตล์ข้อมูลเพิ่มเติม */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content .additional-info .bx-info{
  margin: 0 0 0 0;
  padding:  0 0 0 0;
  width: 95%;
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
}
.card-content .additional-info .bx-info p{
  margin: 8px 0 8px 0;
  padding: 0 0 0 0;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/worker/[name]/history/historyworker.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/

.box-sized{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-sized .Box-header-history{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 40px 0 40px 0;
    width: 40%;
    min-width: 480px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.box-sized .Box-header-history .Box-his{
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-sized .Box-header-history .Box-his .title-history{
    font-size: 22px;
}
.box-sized .Box-header-history .Box-his .select-filter{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    border: 1px solid #dedede;
    display: block;
    width: 150px;
    padding: 8px 2.5% 8px 2.5%;
    border-radius: 5px;
}
.box-sized .Box-header-history .detail-history{
    display: flex;
    flex-direction: column;
    align-items: center;
}
